.wrapper {
    flex: 1;
    padding: 15px;
}

.back-btn {
    width: 28px;
    height: 26px;
    border-radius: 50%;
    background-color: #F6F6FD;
}

.login-form {
    padding: 16px 0;
}

.title {
    font-size: 32px;
    color: #262C41;
    font-weight: 700;
    margin: 20px 0;
}

.control {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    position: relative;
}

.label {
    font-size: 12px;
    color: #686E7E;
    padding-bottom: 4px;
}

.input {
    font-size: 16px;
    height: 48px;
    width: 100%;
    background-color: #F4F5F8;
    border-radius: 8px;
    padding: 0 8px;
    border: none;
}

.show-pass {
    position: absolute;
    right: 20px;
    bottom: 16px;
    cursor: pointer;
}

.link-forgot-password {
    font-size: 14px;
    line-height: 16px;
    color: #4262AE;
    margin-top: -10px;
    text-align: end;
    cursor: pointer;
}

.submit-btn {
    display: flex;
    width: 100%;
    height: 54px;
    color: #FFF;
    background-color: #4755D4;
    font-size: 16px;
    border-radius: 24px;
    margin: 22px 0 11px;
    align-items: center;
    justify-content: center;
}


.not-account {
    font-size: 12px;
    text-align: center;
}
.link-register {
    font-weight: 700;
    color: #4755D4;
    margin: 0 4px;
    cursor: pointer;
}

.other-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 14px;
    align-items: center;
    margin-top: 24px;
    padding: 24px 10px;
    border-top: 1px dashed #E6E7EA;
}

.fb-gg {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 8px;
}

.gg-icon, .fb-icon {
    justify-content: center;
    margin: 0 10px;
    width: 50px;
    display: flex;
    align-items: center;
    height: 50px;
    background: #F6F6FD !important;
    border-radius: 50%;
}
